<div ng-controller="AdministracionCtrl as administracionCtrl" style="margin-top: 100px;">
    <div style="margin-bottom: 30px;">
        <div>{{vm.user.email}}</div>
        <div class="administracion-input">
            <label>Nombre</label>
            <input ng-model="administracionCtrl.user.name" type="text">
        </div>
        <div class="administracion-input">
            <label>Password Anterior</label>
            <input ng-model="administracionCtrl.password_anterior" type="text">
        </div>
        <div class="administracion-input">
            <label>Nuevo Password</label>
            <input ng-model="administracionCtrl.password" type="text">
        </div>

        <div style="margin-top: 10px;">
            <button class="btn-custom" ng-click="administracionCtrl.saveUsuario()">Guardar Cambios</button>
        </div>
    </div>
    <div ng-if="administracionCtrl.user.rol == 0">
        <div>
            <div class="administracion-input">
                <label>Titulo</label>
                <input ng-model="administracionCtrl.post.value.titulo" type="text">
            </div>
            <div class="administracion-input">
                <label>Fecha</label>
                <input ng-model="administracionCtrl.post.value.fecha" type="date">
            </div>
        </div>
        <div>
            <label>Detalle</label>
            <div class="text-administracion" text-angular ng-model="administracionCtrl.post.value.detalle"></div>

        </div>

        <div>
            <button class="btn-custom" ng-click="administracionCtrl.create()">Guardar</button>
            <!--<button class="md-raised" ng-click="administracionCtrl.remove()">Eliminar</button>-->
            <button class="btn-custom" ng-click="administracionCtrl.cancelar()">Cancelar</button>
        </div>

        <div class="main-post post-list"
             ng-repeat="post in administracionCtrl.posts | filter:appCtrl.filtro"
             ng-click="administracionCtrl.selectPost(post);">
            <span class="md-title" style="flex: 15;">{{post.value.titulo}}</span>
            <span class="md-subhead" style="flex: 3;">{{ -1 * post.value.fecha | date}}</span>
            <span style="flex: 1;"><i class="fa fa-trash" ng-click="administracionCtrl.remove(post)"></i></span>
        </div>
    </div>

</div>
